/* обнуляем все настройки по умолчанию */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняет подсчет ширины блока для удобства */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* делаем значения блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #0a1117;
}
/* просим теги наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}
/* убираем некоторые особенности в разных браузерах
  специфический псевдоэлемент */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
/* специфический псевдоэлемент */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* обнуляем заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* шрифты */
.text {
  font-size: 22px;
  font-weight: 700;
}
.text::first-letter {
  text-transform: capitalize;
}
.text__20px {
  font-size: 20px;
  font-weight: 700;
}
.text__20px::first-letter {
  text-transform: capitalize;
}

/* header */
header {
  margin-top: 30px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav img {
  margin-right: 112px;
}
.header__row {
  display: flex;
  column-gap: 44px;
  margin-right: 212px;
}
.header__row a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.header__row a::first-letter {
  text-transform: capitalize;
}
.header__btn {
  padding: 11px 20px;
  border-radius: 12px;
  background: #243241;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
/* greetings */
.greetings {
  margin-top: 162px;
  margin-bottom: 64.5px;
}
.greetings__column {
  text-align: center;
  color: #fff;
  max-width: 649px;
  margin: 0 auto;
}
.greetings__column h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 32px;
}
.greetings__column h1::first-letter {
  text-transform: capitalize;
}
.greetings__column p {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 56px;
  line-height: 46px;
}
.greetings__column p::first-letter {
  text-transform: capitalize;
}
.greetings__column button {
  padding: 16px 48px;
  border-radius: 16px;
  background: #ffcf01;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 118.5px;
  transition: all 0.5s ease 0s;
}
.greetings__column button:hover {
  box-shadow: 0px 9px 44px 0px rgba(255, 207, 1, 0.2);
}
.greetings__column button::first-letter {
  text-transform: capitalize;
}
.tick {
  text-align: center;
}
@media (max-width: 1200px) {
  .container {
    max-width: 736px;
  }
  .header__nav img {
    width: 140px;
    height: 23px;
    margin-right: 55px;
  }
  .header__row {
    column-gap: 24px;
    margin-right: 128px;
  }
  .header__row a {
    font-size: 14px;
  }
  .header__btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  /* greetings */
  .greetings {
    margin-top: 106px;
    margin-bottom: 56px;
  }
  .greetings__column {
    max-width: 500px;
  }
  .greetings__column h1 {
    font-size: 52px;
    margin-bottom: 20px;
  }
  .greetings__column p {
    font-size: 20px;
    margin-bottom: 44px;
    line-height: 34px;
  }
  .greetings__column button {
    padding: 13px 38px;
    font-size: 17px;
    margin-bottom: 64px;
  }
  .tick img {
    width: 16.5px;
    height: 17px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 400px;
  }
}
/* project */
.project {
  margin-bottom: 178px;
}
.section__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__title {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  position: relative;
}
.project__title img {
  position: absolute;
  top: -35px;
  left: -130px;
}
.title__text {
  color: #e5e5e5;
  font-size: 54px;
  font-weight: 700;
}
.title__text::first-letter {
  text-transform: capitalize;
}
.project__btns {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 24px;
}
.project__btns button {
  padding: 8px 26px;
  border-radius: 100px;
  background: #182632;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.project__btns-secondRow {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 44px;
}
.project__btns-secondRow button {
  padding: 8px 26px;
  border-radius: 100px;
  background: #182632;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.project__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #707f8d;
}

.project__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.project__results {
  position: absolute;
  bottom: -15px;
  display: inline-block;
  padding: 6px 24px;
  border-radius: 100px;
  border: 4px solid #0a1117;
  background: #ffa800;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .project {
    margin-bottom: 82px;
  }
  .project__title img {
    width: 60.999px;
    height: 61.817px;
    top: -35px;
    left: -111px;
  }
  .project__btns {
    column-gap: 12px;
    margin-bottom: 20px;
  }
  .project__btns button {
    padding: 8px 24px;
    font-size: 16px;
  }
  .project__btns-secondRow {
    column-gap: 12px;
  }
  .project__btns-secondRow button {
    padding: 8px 24px;
    font-size: 16px;
  }
  .project__img img {
    max-width: 736px;
    max-height: 318px;
  }
  .project__results {
    padding: 2px 20px;
    border-radius: 100px;
    border: 3px solid #0a1117;
    font-size: 16px;
    bottom: -10px;
  }
}
/* full journey */
.full__journey {
  margin-bottom: 200px;
}
.journey__title {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  position: relative;
}
.journey__title img {
  position: absolute;
  top: -35px;
  right: -90px;
}
.journey__column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.journey__column p {
  color: #37424d;
  font-size: 54px;
  font-weight: 700;
  text-align: center;
}
.journey__column p::first-letter {
  text-transform: capitalize;
}
.journey__column p:hover {
  color: #23c9de;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .journey__title {
    margin-bottom: 16px;
  }
  .journey__title img {
    width: 50.001px;
    height: 37.416px;
    top: -30px;
    right: -56px;
  }
  .journey__column {
    row-gap: 18px;
  }
  .journey__column p {
    font-size: 32px;
  }
}
/* tools app */
.tools__app {
  margin-bottom: 200px;
}
.tools__app-title {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  position: relative;
}
.tools__app-title img {
  position: absolute;
  top: -40px;
  left: -70px;
}
.app__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 46px;
}
.app__menu p {
  color: #8395a7;
  font-size: 22px;
  font-weight: 600;
}
.app__menu p::first-letter {
  text-transform: capitalize;
}
.app__menu p:hover {
  color: #ffc803;
  cursor: pointer;
}
.app__img {
  margin-bottom: 44px;
}
.app__btn {
  padding: 16px 56px 16px 48px;
  border-radius: 16px;
  background: rgba(255, 207, 1, 0.15);
  color: #ffcf01;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* works with */
.works__with {
  margin-bottom: 200px;
}

.works__with-title {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  position: relative;
}
.works__with-title img {
  position: absolute;
  top: -20px;
  right: -70px;
}
.works__with-row {
  display: flex;
  justify-content: center;
  column-gap: 36px;
}
.works__with-item {
  padding: 10px 29px;
  border-radius: 40px;
  border: 2px solid #2a3744;
  background: #121e28;
}

.works__with-text {
  text-align: center;
  text-transform: capitalize;
  margin-top: 16px;
  color: #e5e5e5;
  font-size: 22px;
  font-weight: 600;
}
/* звездочки доделать */
@media (max-width: 1200px) {
  .works__with {
    margin-bottom: 110px;
  }
  .works__with-title {
    margin-bottom: 32px;
  }
  .tools__app-title img {
    width: 40px;
    height: 31.762px;
    top: -32px;
    left: -43px;
  }
  .app__menu {
    column-gap: 27px;
    margin-bottom: 28px;
  }
  .app__menu p {
    font-size: 16px;
  }
  .app__img {
    margin-bottom: 32px;
  }
  .app__img img {
    max-width: 657px;
    max-height: 460px;
  }
  .app__btn {
    padding: 10px 44px;
    font-size: 17px;
  }
  /* works with */
  .works__with {
    margin-bottom: 100px;
  }
  .works__with-row {
    column-gap: 27px;
  }
  .works__with-text {
    margin-top: 12px;
    font-size: 14px;
  }
  .works__with-item {
    border-radius: 24px;
  }
  /* !сильно маленькое изображение */
  .works__with-item img {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 768px) {
  .app__menu {
    column-gap: 8px;
    row-gap: 12px;
    flex-wrap: wrap;
  }
  .app__menu p {
    font-size: 14px;
  }
  .app__img {
    margin-bottom: 24px;
  }
  .app__img img {
    max-width: 400px;
    max-height: 280px;
  }
  .app__btn {
    padding: 4px 30px;
    font-size: 15px;
  }
  /* works with */
  .works__with-row {
    column-gap: 28px;
    row-gap: 28px;
    flex-wrap: wrap;
  }
  .works__with-text {
    font-size: 12px;
  }
}
/* help */
.help {
  margin-bottom: 214px;
}
.photo__row {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin-top: 44px;
  margin-bottom: 70px;
}
.help__row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 20px;
}
.help__row img {
  object-fit: none;
}
.help__row p {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.help__row p::first-letter {
  text-transform: capitalize;
}
/* digest */
.digest {
  margin-bottom: 200px;
}
.digest__container {
  background-image: url(./img/lights.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-color: #2a37445a;
  text-align: center;
  padding: 40px 217px 64px 218px;
  border-radius: 30px;
  border: 2px solid #2a3744;
}
.digest__text {
  color: #9aafc3;
  font-size: 36px;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 26px;
  margin-bottom: 68px;
}
.digest__text::first-letter {
  text-transform: capitalize;
}
.digest__form {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.digest__input {
  width: 72%;
}
.digest__input input {
  width: 100%;
  border-radius: 16px;
  border: 2px solid #2a3744;
  background: #121e28;
  padding: 21px 0px 23px 28px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.digest__input input::placeholder {
  font-size: 20px;
  color: #3d4c5b;
  font-weight: 600;
}
.digest__form button {
  padding: 16px 35px 16px 37px;
  border-radius: 16px;
  background: #ceaaff;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .help {
    margin-bottom: 100px;
  }
  .photo__row {
    column-gap: 16px;
    margin-top: 32px;
    margin-bottom: 37px;
  }
  .photo__row img {
    width: 112px;
    height: 112px;
  }
  .help__row {
    column-gap: 16px;
  }
  .help__row img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  .help__row p {
    font-size: 32px;
  }
  /* digest */
  .digest {
    margin-bottom: 100px;
  }
  .digest__container {
    padding: 36px 111px 48px 110px;
  }
  .digest__text {
    color: #9aafc3;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 48px;
  }
  .digest__input input {
    padding: 18px 0px 18px 24px;
  }
  .digest__form button {
    padding: 12px 32px;
    border-radius: 16px;
  }
}
/* ! нужно ли что то делать с backed?? */
/* backed */
.backed {
  margin-bottom: 200px;
}
.backed__title {
  display: flex;
  justify-content: center;
  position: relative;
}
.backed__title img {
  position: absolute;
  top: -50px;
  right: -93px;
}
.backed__container {
  position: relative;
  z-index: 0;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backed__first-row {
  display: flex;
  gap: 40px;
}
.first__row-item {
  height: 132px;
  padding: 0px 40px;
  border-radius: 30px;
  border: 2px solid #2a3744;
  background: #121e28;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.backed__second-row {
  display: flex;
  gap: 36px;
}
.second__row-item {
  height: 114px;
  padding: 0px 40px;
  border-radius: 30px;
  border: 2px solid #2a3744;
  background: #121e28;
  display: flex;
  align-items: center;
}
.linear__gradient-left {
  background: linear-gradient(90deg, #10151a 0%, rgba(16, 21, 26, 0) 100%);
  width: 500px;
  height: 286px;
}
.linear__gradient-right {
  background: linear-gradient(270deg, #10151a 0%, rgba(16, 21, 26, 0) 100%);
  width: 500px;
  height: 286px;
}
.left {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .backed {
    margin-bottom: 100px;
  }
}
/* press */
.press {
  margin-bottom: 210px;
}
.press__title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}
.row__left {
  position: relative;
}

.row__left img {
  position: absolute;
  top: -58px;
  right: -77px;
}
.row__right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.row__right .text {
  color: #8395a7;
}

.press__item-container {
  display: flex;
  justify-content: center;
  column-gap: 28px;
}
.press__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 28px 32px 28px;
  border-radius: 20px;
}
.press__item img:first-child {
  margin-bottom: 21px;
}
.press__item .text {
  line-height: 30px;
}
.item__sub-text {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 12px;
  line-height: 29px;
  opacity: 0.8;
}
.item__sub-text::first-letter {
  text-transform: capitalize;
}

.item__footer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.item__footer p {
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .press {
    margin-bottom: 100px;
  }
  .press__title-row {
    margin-bottom: 28px;
  }
  .row__right {
    column-gap: 8px;
  }
  .press__item-container {
    column-gap: 20px;
  }
  .press__item {
    padding: 20px;
    max-width: 232px;
  }
  .press__item img:first-child {
    width: 192px;
    height: 38px;
  }
  .press__item .text {
    line-height: 24px;
  }
  .item__sub-text {
    font-size: 13px;
    margin-bottom: 16px;
    margin-top: 8px;
    line-height: 22px;
  }
  .item__footer {
    column-gap: 6px;
  }

  .item__footer p {
    font-size: 12px;
  }
}
/* podcasts */
.podcasts {
  margin-bottom: 120px;
}
.podcasts__title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}
.podcasts__row-left {
  position: relative;
}
.podcasts__row-left img {
  position: absolute;
  top: -67px;
  left: -93px;
}
.podcasts__item-container {
  display: flex;
  justify-content: center;
  column-gap: 28px;
}
.podcasts__item {
  max-width: 361px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #2a3744;
  background: #121e28;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.podcasts__item .text__20px {
  color: #fff;
  line-height: 28px;
  margin-top: 21px;
  margin-bottom: 13px;
}
.podcasts__sub-text {
  font-size: 17px;
  font-weight: 600;
  color: #e2e2e2;
  text-transform: capitalize;
  margin-top: 5px;
  opacity: 0.8;
}
.podcasts__footer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 34px;
}
.podcasts__footer p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .podcasts {
    margin-bottom: 73px;
  }
  .podcasts__item-container {
    column-gap: 20px;
  }
  .podcasts__item {
    max-width: 232px;
    padding: 24px 20px 20px 20px;
  }
  .podcasts__item .text__20px {
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .podcasts__sub-text {
    font-size: 14px;
  }
  .podcasts__footer {
    column-gap: 6px;
    margin-top: 20px;
  }
  .podcasts__footer p {
    font-size: 12px;
  }
}
/* idea */
.idea {
  margin-bottom: 200px;
}
.idea__img {
  margin-bottom: 100px;
}
.idea__title {
  text-align: center;
}
.idea__text {
  margin-top: 16px;
  color: #5a6c7e;
  font-size: 48px;
  font-weight: 700;
}
.idea__text::first-letter {
  text-transform: capitalize;
}
.idea__btns {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  column-gap: 32px;
}
.idea__btns-item {
  padding: 16px 49px 16px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
.yellow {
  background: #ffc803;
  box-shadow: 0px 8px 40px 0px rgba(255, 200, 3, 0.2);
}
.violet {
  background: #e2c1f9;
  box-shadow: 0px 8px 40px 0px rgba(226, 193, 249, 0.2);
}
.idea__img-container {
  border-radius: 10px;
  background: #00000028;
  padding: 12px;
}
.idea__link {
  margin-top: 4px;
  color: #4d3705;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
}
@media (max-width: 1200px) {
  .idea {
    margin-bottom: 120px;
  }
  .idea__img {
    margin-bottom: 49px;
  }
  .idea__img img {
    width: 43.001px;
    height: 49.143px;
  }
  .idea__text {
    margin-top: 20px;
    color: #5a6c7e;
    font-size: 30px;
    font-weight: 700;
  }
  .idea__btns {
    margin-top: 42px;
    column-gap: 24px;
  }
  .idea__btns-item {
    padding: 10px 32px 10px 10px;
    column-gap: 16px;
  }
  .idea__link {
    font-size: 14px;
  }
}
/* footer */
footer {
  background-color: #121e28;
  padding: 56px 0px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  display: flex;
  justify-content: center;
  column-gap: 56px;
  position: relative;
}
.footer__nav .text {
  color: #fff;
  cursor: pointer;
}
.footer__nav .text:hover {
  color: #ffc803;
}
.links__row {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.links__row div {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* !логотоип встает немного не ровно */
@media (max-width: 1200px) {
  footer {
    background-color: #121e28;
    padding: 41px 0px 46px 0px;
  }
  .footer__logo {
    width: 170px;
    height: 28.243px;
  }
  .footer__nav {
    column-gap: 36px;
  }
  .links__row {
    column-gap: 12px;
  }
  .links__row div {
    width: 44px;
    height: 44px;
  }
  .footer__img {
    width: 24px;
    height: 24px;
  }
}
/* modal wrapper */
.modal__wrapper {
  width: 229px;
  padding: 12px 0px;
  border-radius: 12px;
  background: #202c37;
  position: absolute;
  top: -149px;
  right: -85px;
}
.wrapper__row {
  padding: 8px 0px 8px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
.wrapper__img {
  padding: 6px;
  border-radius: 8px;
  background: #2f3c49;
}
.wrapper__text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  word-spacing: 3px;
}
.wrapper__row:hover {
  background-color: #2a3744;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media (max-width: 1200px) {
  .title__text {
    font-size: 36px;
  }
  .text {
    font-size: 18px;
  }
  .text__20px {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .title__text {
    font-size: 28px;
  }
}
