/* обнуляем все настройки по умолчанию */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняет подсчет ширины блока для удобства */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* делаем значения блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #0a1117;
  font-family: "Montserrat", sans-serif;
}
/* просим теги наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}
/* убираем некоторые особенности в разных браузерах
  специфический псевдоэлемент */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
/* специфический псевдоэлемент */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* обнуляем заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* шрифты */
.text {
  font-size: 22px;
  font-weight: 700;
}
.text::first-letter {
  text-transform: capitalize;
}
.text__20px {
  font-size: 20px;
  font-weight: 700;
}
.text__20px::first-letter {
  text-transform: capitalize;
}

/* header */
header {
  margin-top: 30px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav img {
  margin-right: 112px;
}
.header__row {
  display: flex;
  column-gap: 44px;
  margin-right: 212px;
}
.header__row a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.header__row a::first-letter {
  text-transform: capitalize;
}
.header__btn {
  padding: 11px 20px;
  border-radius: 12px;
  background: #243241;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 16px;
  height: 18px;
  cursor: pointer;
}
.header__burger div {
  height: 3px;
  background-color: #ffcf01;
  width: 16px;
  border-radius: 13px;
}

/* greetings */
.greetings {
  margin-top: 162px;
  margin-bottom: 64.5px;
}
.greetings__column {
  text-align: center;
  color: #fff;
  max-width: 649px;
  margin: 0 auto;
}
.greetings__column h1 {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 32px;
}
.greetings__column h1::first-letter {
  text-transform: capitalize;
}
.greetings__column p {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 56px;
  line-height: 46px;
}
.greetings__column p::first-letter {
  text-transform: capitalize;
}
.greetings__column button {
  padding: 16px 48px;
  border-radius: 16px;
  background: #ffcf01;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 118.5px;
  transition: all 0.5s ease 0s;
}
.greetings__column button:hover {
  box-shadow: 0px 9px 44px 0px rgba(255, 207, 1, 0.2);
}
.greetings__column button::first-letter {
  text-transform: capitalize;
}
.tick {
  text-align: center;
}
@media (max-width: 1200px) {
  header {
    margin-top: 28px;
  }
  .container {
    max-width: 736px;
  }
  .header__nav img {
    width: 140px;
    height: 23px;
    margin-right: 55px;
  }
  .header__row {
    column-gap: 24px;
    margin-right: 128px;
  }
  .header__row a {
    font-size: 14px;
  }
  .header__btn {
    padding: 8px 16px;
    font-size: 12px;
  }

  /* greetings */
  .greetings {
    margin-top: 106px;
    margin-bottom: 56px;
  }
  .greetings__column {
    max-width: 500px;
  }
  .greetings__column h1 {
    font-size: 52px;
    margin-bottom: 20px;
  }
  .greetings__column p {
    font-size: 20px;
    margin-bottom: 44px;
    line-height: 34px;
  }
  .greetings__column button {
    padding: 13px 38px;
    font-size: 17px;
    margin-bottom: 64px;
  }
  .tick img {
    width: 16.5px;
    height: 17px;
  }
}
@media (max-width: 768px) {
  header {
    margin-top: 16px;
  }
  .container {
    max-width: 400px;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav img {
    margin-right: 0px;
  }
  .header__row {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: flex;
  }
  /* greetings */
  .greetings {
    margin-top: 96px;
    margin-bottom: 100px;
  }
  .greetings__column {
    max-width: 314px;
  }
  .greetings__column h1 {
    font-size: 36px;
    margin-bottom: 16px;
  }
  .greetings__column p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 28px;
  }
  .greetings__column button {
    padding: 8px 28px;
    font-size: 15px;
  }
  .tick img {
    display: none;
  }
}
@media (max-width: 768px) {
  .burger__menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #121e28;
    z-index: 1;
  }
  .burger__header {
    padding: 16px 16px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }
  .burger__header img:first-child {
    width: 140px;
    height: 23.235px;
  }
  .burger__header img:last-child {
    cursor: pointer;
  }
  .burger__column {
    padding: 0px 20px 20px 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }
  .burger__input {
    max-width: 320px;
    margin-bottom: 32px;
  }
  .burger__input input {
    width: 100%;
    padding: 10px 0px 10px 20px;
    border-radius: 10px;
    background: rgba(255, 200, 3, 0.2);
    font-size: 15px;
    font-weight: 600;
    color: #ffc803;
    line-height: 32px;
  }
  .burger__input input::placeholder {
    text-transform: capitalize;
    color: #ffc803;
    font-size: 15px;
    font-weight: 600;
  }
  .burger__body {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 126px;
  }
  .burger__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    max-width: 320px;
    border-radius: 10px;
    background: #182632;
  }
  .burger__item span:first-child {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }
  .burger__item span:first-child::first-letter {
    text-transform: capitalize;
  }
  .burger__footer {
    display: flex;
    justify-content: flex-start;
    column-gap: 28px;
  }
  .burger__footer div {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* project */
.project {
  margin-bottom: 178px;
}
.section__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__title {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  position: relative;
}
.project__title img {
  position: absolute;
  top: -35px;
  left: -130px;
}
.title__text {
  color: #e5e5e5;
  font-size: 54px;
  font-weight: 700;
}
.title__text::first-letter {
  text-transform: capitalize;
}
.project__btns {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 24px;
}
.project__btns button {
  padding: 8px 26px;
  border-radius: 100px;
  background: #182632;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.project__btns-secondRow {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 44px;
}
.project__btns-secondRow button {
  padding: 8px 26px;
  border-radius: 100px;
  background: #182632;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.project__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: #707f8d;
}

.project__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.project__results {
  position: absolute;
  bottom: -15px;
  display: inline-block;
  padding: 6px 24px;
  border-radius: 100px;
  border: 4px solid #0a1117;
  background: #ffa800;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .project {
    margin-bottom: 82px;
  }
  .project__title img {
    width: 60.999px;
    height: 61.817px;
    top: -35px;
    left: -111px;
  }
  .project__btns {
    column-gap: 12px;
    margin-bottom: 20px;
  }
  .project__btns button {
    padding: 8px 24px;
    font-size: 16px;
  }
  .project__btns-secondRow {
    column-gap: 12px;
  }
  .project__btns-secondRow button {
    padding: 8px 24px;
    font-size: 16px;
  }
  .project__btn img {
    width: 14px;
    height: 14px;
  }
  .project__img img {
    max-width: 736px;
    max-height: 318px;
  }
  .project__results {
    padding: 2px 20px;
    font-size: 16px;
    bottom: -10px;
  }
}
@media (max-width: 768px) {
  .project {
    margin-bottom: 68px;
  }
  .project__title {
    margin-bottom: 24px;
  }

  .project__title img {
    width: 37.997px;
    height: 38.509px;
    top: -30px;
    left: 10px;
  }
  .project__btns {
    flex-wrap: wrap;
    gap: 12px;
  }
  .project__btns button {
    padding: 12px 14px;
    font-size: 14px;
  }
  .project__btns-secondRow {
    column-gap: 12px;
  }
  .project__btns-secondRow button {
    padding: 12px 14px;
    font-size: 14px;
  }
  .project__btn img {
    width: 10px;
    height: 10px;
  }
  .project__img img {
    max-width: 400px;
    max-height: 328px;
  }
  .project__results {
    padding: 2px 12px;
    font-size: 13px;
  }
}
/* full journey */
.full__journey {
  margin-bottom: 200px;
}
.journey__title {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  position: relative;
}
.journey__title img {
  position: absolute;
  top: -35px;
  right: -90px;
}
.journey__column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.journey__column p {
  color: #37424d;
  font-size: 54px;
  font-weight: 700;
  text-align: center;
}
.journey__column p::first-letter {
  text-transform: capitalize;
}
.journey__column p:hover {
  color: #23c9de;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .full__journey {
    margin-bottom: 80px;
  }
  .journey__title {
    margin-bottom: 16px;
  }
  .journey__title img {
    width: 50.001px;
    height: 37.416px;
    top: -30px;
    right: -56px;
  }
  .journey__column {
    row-gap: 18px;
  }
  .journey__column p {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .journey__title {
    margin-bottom: 24px;
  }
  .journey__title img {
    width: 28.996px;
    height: 21.702px;
    top: -20px;
    right: 20px;
  }
  .journey__column {
    row-gap: 15px;
  }
  .journey__column p {
    font-size: 20px;
  }
}
/* tools app */
.tools__app {
  margin-bottom: 200px;
}
.tools__app-title {
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
  position: relative;
}
.tools__app-title img {
  position: absolute;
  top: -40px;
  left: -70px;
}
.app__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 46px;
}
.app__menu p {
  color: #8395a7;
  font-size: 22px;
  font-weight: 600;
}
.app__menu p::first-letter {
  text-transform: capitalize;
}
.app__menu p:hover {
  color: #ffc803;
  cursor: pointer;
}
.tools__point {
  display: none;
}
.app__img {
  margin-bottom: 44px;
}
.app__btn {
  padding: 16px 56px 16px 48px;
  border-radius: 16px;
  background: rgba(255, 207, 1, 0.15);
  color: #ffcf01;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* works with */
.works__with {
  margin-bottom: 200px;
}

.works__with-title {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
  position: relative;
}
.works__with-title img {
  position: absolute;
  top: -20px;
  right: -70px;
}
.works__with-row {
  display: flex;
  justify-content: center;
  column-gap: 36px;
}
.works__with-item {
  padding: 10px 29px;
  border-radius: 40px;
  border: 2px solid #2a3744;
  background: #121e28;
}

.works__with-text {
  text-align: center;
  text-transform: capitalize;
  margin-top: 16px;
  color: #e5e5e5;
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .tools__app {
    margin-bottom: 110px;
  }
  .tools__app-title {
    margin-bottom: 32px;
  }
  .tools__app-title img {
    width: 40px;
    height: 31.762px;
    top: -32px;
    left: -43px;
  }
  .app__menu {
    column-gap: 27px;
    margin-bottom: 28px;
  }
  .app__menu p {
    font-size: 16px;
  }

  .app__img {
    margin-bottom: 32px;
  }
  .app__img img {
    max-width: 657px;
    max-height: 460px;
  }
  .app__btn {
    padding: 10px 44px;
    font-size: 17px;
  }
  .app__btn img {
    width: 28px;
    height: 28px;
  }
  /* works with */
  .works__with {
    margin-bottom: 100px;
  }

  .works__with-title {
    margin-bottom: 32px;
  }
  .works__with-title img {
    width: 34.999px;
    height: 27.364px;
    top: -20px;
    right: -45px;
  }
  .works__with-row {
    column-gap: 27px;
  }
  .works__with-text {
    margin-top: 12px;
    font-size: 14px;
  }
  .works__with-item {
    border-radius: 24px;
  }
  .works__with-item {
    padding: 0px;
    width: 100px;
    height: 100px;
  }

  .works__with-item img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .tools__app {
    margin-bottom: 80px;
  }
  .tools__app-title {
    margin-bottom: 24px;
  }
  .tools__app-title img {
    width: 27px;
    height: 21.44px;
    top: -18px;
    left: -33px;
  }
  .app__menu {
    column-gap: 8px;
    row-gap: 12px;
    max-width: 320px;
    flex-wrap: wrap;
  }
  .app__menu p {
    font-size: 14px;
  }
  .tools__point {
    display: block;
    color: #8395a7;
    opacity: 0.6;
  }
  .app__img {
    margin-bottom: 24px;
  }
  .app__img img {
    max-width: 400px;
    max-height: 280px;
  }
  .app__btn {
    padding: 4px 30px;
    font-size: 15px;
  }
  .app__btn img {
    width: 24px;
    height: 24px;
  }
  /* works with */
  .works__with {
    margin-bottom: 80px;
  }

  .works__with-title {
    margin-bottom: 24px;
  }
  .works__with-title img {
    width: 26.001px;
    height: 20.327px;
    top: -20px;
    right: -25px;
  }
  .works__with-row {
    column-gap: 28px;
    row-gap: 28px;
    flex-wrap: wrap;
  }
  .works__with-text {
    font-size: 12px;
  }
  .works__with-item {
    padding: 0px;
    width: 84px;
    height: 84px;
  }
}
/* help */
.help {
  margin-bottom: 214px;
}
.photo__row {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin-top: 44px;
  margin-bottom: 70px;
}
.help__row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 28px;
  margin-bottom: 20px;
}
.help__row img {
  object-fit: none;
}
.help__row p {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.help__row p::first-letter {
  text-transform: capitalize;
}
/* digest */
.digest {
  margin-bottom: 200px;
}
.digest__container {
  background-image: url(./img/lights.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-color: #2a37445a;
  text-align: center;
  padding: 40px 217px 64px 218px;
  border-radius: 30px;
  border: 2px solid #2a3744;
}
.digest__text {
  color: #9aafc3;
  font-size: 36px;
  font-weight: 600;
  opacity: 0.6;
  margin-top: 26px;
  margin-bottom: 68px;
}
.digest__text::first-letter {
  text-transform: capitalize;
}
.digest__form {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.digest__input {
  width: 72%;
}
.digest__input input {
  width: 100%;
  border-radius: 16px;
  border: 2px solid #2a3744;
  background: #121e28;
  padding: 21px 0px 23px 28px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.digest__input input::placeholder {
  font-size: 20px;
  color: #3d4c5b;
  font-weight: 600;
  text-transform: capitalize;
}
.digest__form button {
  padding: 16px 35px 16px 37px;
  border-radius: 16px;
  background: #ceaaff;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .help {
    margin-bottom: 100px;
  }
  .photo__row {
    column-gap: 16px;
    margin-top: 32px;
    margin-bottom: 37px;
  }
  .photo__row img {
    width: 112px;
    height: 112px;
  }
  .help__row {
    column-gap: 16px;
  }
  .help__row img {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  .help__row p {
    font-size: 32px;
  }
  /* digest */
  .digest {
    margin-bottom: 100px;
  }
  .digest__container {
    padding: 36px 111px 48px 110px;
  }
  .digest__text {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 48px;
  }

  .digest__input input {
    padding: 18px 0px 18px 24px;
    font-size: 14px;
  }
  .digest__form button {
    padding: 12px 32px;
    border-radius: 16px;
  }
}
@media (max-width: 768px) {
  .help {
    margin-bottom: 95px;
  }
  .photo__row {
    column-gap: 10px;
    margin-top: 22px;
    margin-bottom: 23px;
  }
  .photo__row img {
    width: 73px;
    height: 73px;
  }
  .help__row {
    column-gap: 10px;
  }
  .help__row img {
    width: 13px;
    height: 13px;
    object-fit: cover;
  }
  .help__row p {
    font-size: 18px;
  }
  /* digest */
  .digest {
    margin-bottom: 100px;
  }
  .digest__container {
    padding: 28px 24px 24px 24px;
  }
  .digest__text {
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 24px;
  }
  .digest__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
  }
  .digest__input {
    width: 100%;
  }
  .digest__input input {
    padding: 13px 0px 13px 18px;
  }
  .digest__input input::placeholder {
    font-size: 14px;
  }
  .digest__form button {
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 14px;
  }
}
/* backed */
.backed {
  margin-bottom: 200px;
}
.backed__title {
  display: flex;
  justify-content: center;
  position: relative;
}
.backed__title img {
  position: absolute;
  top: -50px;
  right: -93px;
}
.backed__container {
  position: relative;
  z-index: 0;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.backed__first-row {
  display: flex;
  gap: 40px;
}
.first__row-item {
  height: 132px;
  padding: 0px 40px;
  border-radius: 30px;
  border: 2px solid #2a3744;
  background: #121e28;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.backed__second-row {
  display: flex;
  gap: 36px;
}
.second__row-item {
  height: 114px;
  padding: 0px 40px;
  border-radius: 30px;
  border: 2px solid #2a3744;
  background: #121e28;
  display: flex;
  align-items: center;
}
.linear__gradient-left {
  background: linear-gradient(90deg, #10151a 0%, rgba(16, 21, 26, 0) 100%);
  width: 500px;
  height: 286px;
}
.linear__gradient-right {
  background: linear-gradient(270deg, #10151a 0%, rgba(16, 21, 26, 0) 100%);
  width: 500px;
  height: 286px;
}
.left {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.right {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .backed {
    margin-bottom: 100px;
  }
  .backed__title img {
    width: 52.999px;
    height: 40.767px;
    top: -25px;
    right: -73px;
  }
  .backed__container {
    max-width: 960px;
    margin-top: 36px;
  }
  .backed__first-row {
    gap: 24px;
  }
  .first__row-item {
    height: 88px;
    padding: 0px 28px;
    min-width: 144px;
    border-radius: 20px;
    margin-bottom: 24px;
  }
  .first__row-item img {
    width: 100%;
  }
  .backed__second-row {
    gap: 24px;
  }
  .second__row-item {
    height: 75px;
    padding: 0px 28px;
    border-radius: 16px;
  }
  .linear__gradient-left {
    width: 260px;
    height: 187px;
  }
  .linear__gradient-right {
    width: 260px;
    height: 187px;
  }
}
/* press */
.press {
  margin-bottom: 210px;
}
.press__title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}
.row__left {
  position: relative;
}

.row__left img {
  position: absolute;
  top: -58px;
  right: -77px;
}
.row__right {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.row__right .text {
  color: #8395a7;
}

.press__item-container {
  display: flex;
  justify-content: center;
  column-gap: 28px;
}
.press__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 28px 32px 28px;
  border-radius: 20px;
}
.press__item img:first-child {
  margin-bottom: 21px;
}
.press__item .text {
  line-height: 30px;
}
.item__sub-text {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 12px;
  line-height: 29px;
  opacity: 0.8;
}
.item__sub-text::first-letter {
  text-transform: capitalize;
}

.item__footer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.item__footer p {
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .press {
    margin-bottom: 100px;
  }
  .row__left img {
    width: 45.001px;
    height: 45.776px;
    top: -30px;
    right: -68px;
  }
  .press__title-row {
    margin-bottom: 28px;
  }
  .row__right {
    column-gap: 8px;
  }
  .press__item-container {
    column-gap: 20px;
  }
  .press__item {
    padding: 20px;
    max-width: 232px;
  }
  .press__item img:first-child {
    width: 192px;
  }
  .press__item .text {
    line-height: 24px;
  }
  .item__sub-text {
    font-size: 13px;
    margin-bottom: 16px;
    margin-top: 8px;
    line-height: 22px;
  }
  .item__footer {
    column-gap: 6px;
  }

  .item__footer p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .press {
    margin-bottom: 80px;
  }
  .row__left img {
    width: 31.839px;
    height: 32.388px;
    top: -25px;
    right: -45px;
  }
  .press__title-row {
    margin-bottom: 24px;
  }
  .press__item-container {
    flex-direction: column;
    row-gap: 16px;
  }
  .press__item {
    padding: 20px;
    max-width: 400px;
  }
  .press__item img:first-child {
    width: auto;
  }
  .item__sub-text {
    margin-bottom: 19px;
  }
  .item__footer {
    column-gap: 8px;
  }
  .item__footer p {
    font-size: 14px;
  }
}
/* podcasts */
.podcasts {
  margin-bottom: 120px;
}
.podcasts__title-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}
.podcasts__row-left {
  position: relative;
}
.podcasts__row-left img {
  position: absolute;
  top: -67px;
  left: -93px;
}
.podcasts__item-container {
  display: flex;
  justify-content: center;
  column-gap: 28px;
}
.podcasts__item {
  max-width: 361px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #2a3744;
  background: #121e28;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.podcasts__item .text__20px {
  color: #fff;
  line-height: 28px;
  margin-top: 21px;
  margin-bottom: 13px;
}
.podcasts__sub-text {
  font-size: 17px;
  font-weight: 600;
  color: #e2e2e2;
  text-transform: capitalize;
  margin-top: 5px;
  opacity: 0.8;
}
.podcasts__footer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-top: 34px;
}
.podcasts__footer p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 1200px) {
  .podcasts {
    margin-bottom: 73px;
  }
  .podcasts__row-left img {
    width: 43.997px;
    height: 39.074px;
    top: -67px;
    left: -93px;
  }
  .podcasts__item-container {
    column-gap: 20px;
  }
  .podcasts__item {
    max-width: 232px;
    padding: 24px 20px 20px 20px;
  }
  .podcasts__item .text__20px {
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 12px;
  }
  .podcasts__sub-text {
    font-size: 14px;
  }
  .podcasts__footer {
    column-gap: 6px;
    margin-top: 20px;
  }
  .podcasts__footer p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .podcasts {
    margin-bottom: 81px;
  }
  .podcasts__title-row {
    margin-bottom: 24px;
  }
  .podcasts__item-container {
    flex-direction: column;
    row-gap: 16px;
  }
  .podcasts__item {
    max-width: 400px;
    padding: 24px 20px 20px 20px;
  }
  .text__768px {
    width: 360px;
  }
  .podcasts__footer {
    column-gap: 8px;
    margin-top: 17px;
  }
  .podcasts__footer p {
    font-size: 14px;
  }
}
/* idea */
.idea {
  margin-bottom: 200px;
}
.idea__img {
  margin-bottom: 100px;
}
.idea__title {
  text-align: center;
}
.idea__text {
  margin-top: 16px;
  color: #5a6c7e;
  font-size: 48px;
  font-weight: 700;
}
.idea__text::first-letter {
  text-transform: capitalize;
}
.idea__btns {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  column-gap: 32px;
}
.idea__btns-item {
  padding: 16px 49px 16px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
.yellow {
  background: #ffc803;
  box-shadow: 0px 8px 40px 0px rgba(255, 200, 3, 0.2);
}
.violet {
  background: #e2c1f9;
  box-shadow: 0px 8px 40px 0px rgba(226, 193, 249, 0.2);
}
.idea__img-container {
  border-radius: 10px;
  background: #00000028;
  padding: 12px;
}
.idea__link {
  margin-top: 4px;
  color: #4d3705;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
}
@media (max-width: 1200px) {
  .idea {
    margin-bottom: 120px;
  }
  .idea__img {
    margin-bottom: 49px;
  }
  .idea__img img {
    width: 43.001px;
    height: 49.143px;
  }
  .idea__text {
    margin-top: 20px;
    font-size: 30px;
  }
  .idea__btns {
    margin-top: 42px;
    column-gap: 24px;
  }
  .idea__btns-item {
    padding: 10px 32px 10px 10px;
    column-gap: 16px;
  }
  .idea__link {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .idea {
    margin-bottom: 80px;
  }
  .idea__img {
    margin-bottom: 25px;
  }
  .idea__img img {
    width: 34.999px;
    height: 39.998px;
  }
  .idea__text {
    margin-top: 12px;
    font-size: 20px;
  }
  .idea__btns {
    flex-direction: column;
    margin-top: 32px;
    row-gap: 16px;
  }
  .idea__btns-item {
    padding: 8px 28px 8px 8px;
    column-gap: 12px;
    justify-content: flex-start;
  }
  .idea__link {
    font-size: 12px;
  }
  .idea__img-container {
    border-radius: 8px;
    padding: 10px;
  }
  .idea__img-container img {
    width: 23.692px;
    height: 23.692px;
  }
}
/* footer */
footer {
  background-color: #121e28;
  padding: 56px 0px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  display: flex;
  justify-content: center;
  column-gap: 56px;
  position: relative;
}
.footer__nav .text {
  color: #fff;
  cursor: pointer;
}
.footer__nav .text:hover {
  color: #ffc803;
}
.links__row {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.links__row div {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  footer {
    padding: 41px 0px 46px 0px;
  }
  .footer__logo {
    width: 170px;
    height: 28.243px;
    position: relative;
    top: -3px;
  }
  .footer__nav {
    column-gap: 36px;
  }
  .links__row {
    column-gap: 12px;
  }
  .links__row div {
    width: 44px;
    height: 44px;
  }
  .footer__img {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 768px) {
  footer {
    padding: 32px 0px;
  }
  .footer__row {
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
  }
  .footer__logo {
    width: 127px;
    height: 21.099px;
    top: 0px;
  }
  .footer__nav {
    column-gap: 40px;
  }
  .footer__nav .text {
    font-size: 14px;
  }
  .links__row {
    column-gap: 20px;
  }
  .links__row div {
    width: 40px;
    height: 40px;
  }
}
/* modal wrapper */
.modal__wrapper {
  width: 229px;
  padding: 12px 0px;
  border-radius: 12px;
  background: #202c37;
  position: absolute;
  top: -149px;
  right: -85px;
}
.wrapper__row {
  padding: 8px 0px 8px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
}
.wrapper__img {
  padding: 6px;
  border-radius: 8px;
  background: #2f3c49;
}
.wrapper__text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  word-spacing: 3px;
}
.wrapper__row:hover {
  background-color: #2a3744;
  cursor: pointer;
}
.hidden {
  display: none;
}
@media (max-width: 1200px) {
  .title__text {
    font-size: 36px;
  }
  .text {
    font-size: 18px;
  }
  .text__20px {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .title__text {
    font-size: 28px;
  }
  .block {
    display: block;
    text-align: center;
    margin-bottom: 3px;
  }
}
/* ! и звезда на предпослед секции остались 1200px разместить как есть */

/* ! podcasts верхний блок не дорастягивается(на след верстке width auto), 
! фото людей съедает. норм ли что перенос не так как на макете help at evr(cледующая верстка на 400px),
!переделать логику help at every step один флекс контейнер остальные элементы сплошным текстом
! картинка ready for every proj(запрос 400px cжимаю), 
!точки all the tools, доделать

/* !позиционируем absolute относительно секции press */
